<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AutoStore</title>
</head>
<body>
    <a th:href="@{/add-car}">Выставить автомобиль</a>







<!--    <h1>Main Page</h1>-->
<!--    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">USERNAME</span>!</h1>-->
<!--    <p>Click <a th:href="@{/login}">here</a> for login.</p>-->

<!--    <form th:action="@{/logout}" method="post">-->
<!--        <input type="submit" value="Sign Out"/>-->
<!--    </form>-->
</body>
</html>